[gpsd]
# Configuraation for the GPSd daemon on the computer
host = 127.0.0.1
port = 2947
protocol = json

[location]
# The Location information for the transmission. Use decimal lat and long and metres for the altitude
latitude = -41.290463333
longitiude = 174.775350000
altitude = -15

[time]
# The time which is being targetted. YYYY-MM-DD HH:MM:SS
target = 2016-05-31 14:28:00
# The number of seconds to step backwards per backwards step
step = 300
# If when reach the target time keep repeating that time (True) or reach that time once and then just let time run forward (False)
groundhog = True
# The stablisiation time (seconds) how long after getting a GPS fix to wiat for NTP to stabilise before making the next backwards step
stabilise_time = 30
# What is the widn in seconds for how close want current gps time to be to the current iteration's rolling time
window = 30

[data]
# The path to the brdc file
brdc = /home/user/bladeGPS-0.1/dave.16n

[blade]
# The path to the bladegps binary (https://github.com/osqzss/bladeGPS)
bladegps_path = /home/user/bladeGPS-0.1/bladegps
#bladegps_path = top
